# Unreal Engine - 캐시, 빌드, 로그 등 무시
Intermediate/
Binaries/
Saved/
DerivedDataCache/
.vscode/
.idea/
ProjectRootShooter.uproject

# Visual Studio 관련 무시
*.sln
*.suo
*.VC.db
*.VC.opendb
.vs/

# macOS / Windows 시스템 파일
.DS_Store
Thumbs.db